In [1]:
%load_ext sql
%sql sqlite:///AuctionBase.db

u'Connected: @AuctionBase.db'

In [9]:
%%sql
SELECT COUNT(*)
FROM
(
    SELECT COUNT(DISTINCT Type) as c
    FROM Categorize
    GROUP BY ItemID
) countTable
Where countTable.c = 4

 * sqlite:///AuctionBase.db
Done.

[(8365,)]

In [7]:
%%sql
SELECT COUNT(*)
FROM Item

 * sqlite:///AuctionBase.db
Done.

[(19532,)]

In [8]:
%%sql
SELECT COUNT(DISTINCT Name)
FROM Item

 * sqlite:///AuctionBase.db
Done.

[(19418,)]